<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <form action="/urlpoto" class="form" method="GET">
        <input type="text" name="Fullurl" id="urlFull" placeholder="Enter URL">
        <input class="btn btn-primary" type="submit" value="Acortar">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://www.google.com">http://www.google.com</a></td>
                <td><a href="http://www.google.com">1234</a></td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</body>
</html>